{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block metatitle %}{{ metatitle }}{% endblock %}
{% block description %}{{ description }}{% endblock %}



{% block content %}

	<!--MENU BAR-->

		<section class="section service bg-black-10 text-center" aria-label="service" id="menu">
			<div class="container">
				<p class="section-subtitle2 label-2">Смаки для насолоди</p>
				<h2 class="headline-1 section-title">Наш Бар</h2>
				<ul class="image-list image-list">

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Фірмові лимонади"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Фірмові лимонади</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Фреш"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Фреш</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Чайна карта"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Чайна карта</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Фірмові натуральні чаї"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Фірмові натуральні чаї</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Кава"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Кава</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Татранський «чай»"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Татранський «чай»</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Б/А Напої"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Б/А Напої</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Пиво"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Пиво</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Б/А Коктейлі"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Б/А Коктейлі</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Горілка"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Горілка</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Коньяк / Бренді"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Коньяк / Бренді</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Віскі"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Віскі</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Ром"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Ром</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Джин"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Джин</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Текіла"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Текіла</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Класичні алкогольні коктейлі"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Класичні алкогольні коктейлі</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="вторські алкогольні коктейлі"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">вторські алкогольні коктейлі</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Червоні вина"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Червоні вина</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Шоти"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Шоти</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Білі вина"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Білі вина</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Ігристі вина"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Ігристі вина</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Преміум вина"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Преміум вина</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Вермут"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Вермут</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Настоянки / Лікери"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Настоянки / Лікери</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Гарячі Алкогольні Напої"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Гарячі Алкогольні Напої</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>



				</ul>

				<img src="{% static 'main/images/shape-1.png' %}" width="246" height="412" loading="lazy" alt="shape"
				     class="shape shape-1 move-anim">
				<img src="{% static 'main/images/shape-2.png' %}" width="343" height="345" loading="lazy" alt="shape"
				     class="shape shape-2 move-anim">

			</div>
		</section>


	{% endblock %}