{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block metatitle %}{{ metatitle }}{% endblock %}
{% block description %}{{ description }}{% endblock %}



{% block content %}

<!--    MENU-->

<section class="section menu" aria-label="menu-label" id="menu">
  <div class="container">
    <p class="section-subtitle text-center label-2">RoseMarine Меню</p>

    <h2 class="headline-1 section-title text-center">Фірмові лимонади</h2>

    {% for product in products %}
    <ul class="menu-list">
      <li>
        <div class="menu-card hover:card">
          <div>
            <div class="title-wrapper">
              <h3 class="title-3">
                <a class="card-title">{{ product.name }}</a>
              </h3>

              <span class="span title-2">{{ product.price }} грн.</span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    {% empty %}
    <p>Немає страв у цій категорії.</p>
    {% endfor %}

    <a href="#" class="btn btn-primary">
      <span class="text text-1">Переглянути все меню</span>

      <span class="text text-2" aria-hidden="true">Переглянути все меню</span>
    </a>

    <img
      src="{% static 'main/images/shape-5.png' %}"
      width="921"
      height="1036"
      loading="lazy"
      alt="shape"
      class="shape shape-2 move-anim"
    />
    <img
      src="{% static 'main/images/shape-6.png' %}"
      width="343"
      height="345"
      loading="lazy"
      alt="shape"
      class="shape shape-3 move-anim"
    />
  </div>
</section>

{% endblock %}
