{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block metatitle %}{{ metatitle }}{% endblock %}
{% block description %}{{ description }}{% endblock %}



{% block content %}

	<!--MENU-->

		<section class="section service bg-black-10 text-center" aria-label="service" id="menu">
			<div class="container">
				<p class="section-subtitle2 text-center label-2">RoseMarine Меню</p>
				<h2 class="headline-1 section-title">Наша Кухня</h2>
				<ul class="image-list image-list">
					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Кухня"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Перші страви</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Бар"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Мʼясо</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Псування майна"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Риба</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Кухня"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Гарніри</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Бар"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Бургери та паста</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Псування майна"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Салати</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">
							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/kyhnya-min.jpg' %}" width="285" height="336" loading="lazy" alt="Кухня"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">До пива</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/bar-min.jpg' %}" width="285" height="336" loading="lazy" alt="Бар"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Закуски</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Псування майна"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Соуси</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

					<li>
						<div class="service-card">

							<a href="#" class="has-before hover:shine">
								<figure class="card-banner img-holder" style="--width: 285; --height: 336;">
									<img src="{% static 'main/images/psyvannya-maina-min.jpg' %}" width="285" height="336" loading="lazy" alt="Псування майна"
									     class="img-cover">
								</figure>
							</a>

							<div class="card-content">

								<h3 class="title-4 card-title">
									<a href="#">Десерти</a>
								</h3>

								<a href="#" class="btn-text hover-underline label-2">Перейти</a>

							</div>

						</div>
					</li>

				</ul>

				<img src="{% static 'main/images/shape-1.png' %}" width="246" height="412" loading="lazy" alt="shape"
				     class="shape shape-1 move-anim">
				<img src="{% static 'main/images/shape-2.png' %}" width="343" height="345" loading="lazy" alt="shape"
				     class="shape shape-2 move-anim">

			</div>
		</section>


	{% endblock %}