{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--
		- primary meta tags
	-->
	<title>{% block title %}{% endblock %}</title>
	<meta name="title" content="{% block metatitle %}{% endblock %}">
	<meta name="description" content="{% block description %}{% endblock %}">
	<link rel="shortcut icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
	<!--
		- google font link
	-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

	<!--
		- custom css link
	-->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

	<!--
		- preload images
	-->
	<link rel="preload" as="image" href="{% static 'main/images/hero-slider-1.jpg' %}">
	<link rel="preload" as="image" href="{% static 'main/images/hero-slider-2.jpg' %}">
	<link rel="preload" as="image" href="{% static 'main/images/hero-slider-2.jpg' %}">
</head>
<body id="top">

	<!--	PRELOADER-->
	<div class="preload" data-preaload>
		<div class="circle"></div>
		<p class="text">RoseMarine</p>
	</div>

	<!--	TOP BAR-->
	<div class="topbar">
		<div class="container">
			<address class="topbar-item">
				<div class="icon">
					<ion-icon name="location-outline" aria-hidden="true"></ion-icon>
				</div>

				<span class="span">
          вул. Співдружності 77а
        </span>
			</address>
			<div class="separator"></div>
			<div class="topbar-item item-2">
				<div class="icon">
					<ion-icon name="time-outline" aria-hidden="true"></ion-icon>
				</div>
				<span class="span">Понеділок - Неділя 11:00 - 21:00</span>
			</div>
			<a href="tel:+380688876677" class="topbar-item link">
				<div class="icon">
					<ion-icon name="call-outline" aria-hidden="true"></ion-icon>
				</div>

				<span class="span">068-887-66-77</span>
			</a>

			<div class="separator"></div>

			<a href="mailto:zakaz.rosemarine@gmail.com" class="topbar-item link">
				<div class="icon">
					<ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
				</div>

				<span class="span">zakaz.rosemarine@gmail.com</span>
			</a>
		</div>
	</div>

	<!--	HEADER-->
	<header class="header" data-header>
		<div class="container">

			<a href="{% url 'home' %}" class="logo">
				<img src="{% static 'main/images/rosemarine_logo.svg' %}" width="160" height="50" alt="RoseMarine - Home">
			</a>

			<nav class="navbar" data-navbar>

				<button class="close-btn" aria-label="close menu" data-nav-toggler>
					<ion-icon name="close-outline" aria-hidden="true"></ion-icon>
				</button>

				<a href="{% url 'home' %}" class="logo">
					<img src="{% static 'main/images/rosemarine_logo.svg' %}" width="160" height="50" alt="RoseMarine - Home">
				</a>

				<ul class="navbar-list">

					<li class="navbar-item">
						<a href="{% url 'home' %}" class="navbar-link hover-underline active">
							<div class="separator"></div>

							<span class="span">Головна</span>
						</a>
					</li>

					<li class="navbar-item">
						<a href="{% url 'home' %}#menu" class="navbar-link hover-underline">
							<div class="separator"></div>

							<span class="span">Меню</span>
						</a>
					</li>

					<li class="navbar-item">
						<a href="{% url 'home' %}#about" class="navbar-link hover-underline">
							<div class="separator"></div>

							<span class="span">Про нас</span>
						</a>
					</li>

					<li class="navbar-item">
						<a href="{% url 'home' %}#contact" class="navbar-link hover-underline">
							<div class="separator"></div>

							<span class="span">Контакти</span>
						</a>
					</li>

				</ul>

				<div class="text-center">
					<p class="headline-1 navbar-title">Наша адреса</p>

					<address class="body-4">
						вул. Співдружності 77а
					</address>

					<p class="body-4 navbar-text">Понеділок - Неділя 11:00 - 21:00</p>

					<a href="mailto:zakaz.rosemarine@gmail.com" class="body-4 sidebar-link">zakaz.rosemarine@gmail.com</a>

					<div class="separator"></div>

					<p class="contact-label">Запит на бронювання</p>

					<a href="tel:+380688876677" class="body-1 contact-number hover-underline">
						068-887-66-77
					</a>
					<a href="tel:+380668876677" class="body-1 contact-number hover-underline">
						066-887-66-77
					</a>
				</div>

			</nav>

			<a href="{% url 'home' %}#menu" class="btn btn-secondary">
				<span class="text text-1">Наше Меню</span>

				<span class="text text-2" aria-hidden="true">наше Меню</span>
			</a>

			<button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
				<span class="line line-1"></span>
				<span class="line line-2"></span>
				<span class="line line-3"></span>
			</button>

			<div class="overlay" data-nav-toggler data-overlay></div>

		</div>
	</header>


<body>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<!--FOOTER-->
	<footer class="footer section has-bg-image text-center"
			style="background-image: url({% static 'main/images/footer-bg.jpg' %})">
		<div class="container">

			<div class="footer-top grid-list">

				<div class="footer-brand has-before has-after">

					<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'main/images/rosemarine_logo.svg' %}" width="300" height="190" loading="lazy" alt="home">
					</a>

					<address class="body-4">
						вул. Співдружності 77а
					</address>

					<a href="mailto:zakaz.rosemarine@gmail.com" class="body-4 contact-link">zakaz.rosemarine@gmail.com</a>

					<a href="tel:+380688876677" class="body-4 contact-link">Запит на бронювання : 068-887-66-77</a>

					<p class="body-4">
						Час роботи : 11:00 - 21:00
					</p>

					<div class="wrapper">
						<div class="separator"></div>
						<div class="separator"></div>
						<div class="separator"></div>
					</div>

					<p class="title-1">Отримуйте новини та пропозиції</p>

					<form action="" class="input-wrapper">
						<div class="icon-wrapper">
							<ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

							<input type="email" name="email_address" placeholder="Ваш email" autocomplete="off" class="input-field">
						</div>

						<button type="submit" class="btn btn-secondary">
							<span class="text text-1">Підписатись</span>

							<span class="text text-2" aria-hidden="true">Підписатись</span>
						</button>
					</form>

				</div>

				<ul class="footer-list">

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Головна</a>
					</li>

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Меню</a>
					</li>

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Про Нас</a>
					</li>

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Контакти</a>
					</li>

				</ul>

				<ul class="footer-list">

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Facebook</a>
					</li>

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Instagram</a>
					</li>

					<li>
						<a href="#" class="label-2 footer-link hover-underline">Google Map</a>
					</li>

				</ul>

			</div>

			<div class="footer-bottom">

				<p class="copyright">
					&copy; 2021 RoseMarine. Всі права захищені | Створено <a href="https://muntai.pp.ua" target="_blank" class="link">Muntai</a>
				</p>

			</div>

		</div>
	</footer>

	<!--
        - #BACK TO TOP
    -->

	<a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
		<ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
	</a>

	<!--	custom js-->
	<script src="{% static 'main/js/script.js' %}"></script>
	<!--
    - ionicon link
  -->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>